*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
}


.text-red {
    display: block;
    color: red;
}

.fa-xmark{
    display: flex;
    width: 15%;
    border: 1px solid white;
    
}

.container {
    display: flex;
    max-width: 50%;
    margin: 30px auto;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    display: flex;
    text-align: center;
    width: 45%;
    justify-content: center;
    margin: 0 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
p {
    font-size: 17px;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

header h1 {
    font-weight: 300;
    margin-bottom: 30px;
}

@media (max-width: 540px){
   .container .text  {
        text-align: center;
        font-size: 18px;
        width: 100%;
    }
}

@media (max-width: 601.9px){
   .text  {
        text-align: center;
        font-size: 13px;
        width: 40%;
    }
    .container {
        max-width: 600px;
    }
}
@media (max-width: 600px){
   .container .text  {
        display: flex;
        font-size: 16px;
        width: 100%;
        justify-content: center;
   
    }
    .container {
    width: 400px;
    }

}
@media (max-width: 414px){
    .text  {
        text-align: center;
        font-size: 13px;
        width: 45%;
        color: rgb(255, 255, 255);
    }
    
}

@media (max-width: 820px){
   .text  {

        display: flex;
        text-align: center;
        font-size: 13px;
        width: 45%;
        color: rgb(255, 255, 255);
    }
    .container {
        max-width: 500px;

    }
}